@font-face{
  font-family: 'Montserrat';
  font-weight: 100;
  src: url('./fonts/Montserrat-SemiBold.otf') format('truetype');
}
.title{
    -fx-background-color: #fcc200;
    -fx-font-weight: 900;
    -fx-padding: 10px;
}

.content{
    -fx-background-color:  #FEEBAA;
}

.justified{
    -fx-text-alignment: justify;
}

.large{
    -fx-font-size: 1.5em;
}

.emphasis{
    -fx-font-style: italic;
}

.bold{
    -fx-font-weight: 700;
}

.secondary{
    -fx-fill: #375fcb;
}



.button1
{
-fx-background-color : #218C2C;
}
.active{
    -fx-background-color: #D7D974;
}
.button1:hover
{
-fx-background-color : #2A9835 ;
}
.button1:pressed
{
-fx-background-color : #237B2C ;
}
.menu__btn{
    -fx-background-color : #218C2C;
}
.menu__btn:hover{
    -fx-background-color : #2A9835 ;
}
.menu__btn:pressed{
    -fx-background-color : #237B2C ;
}
.login__btn{
    -fx-background-color : #FFF;
}
.login__btn:hover{
    -fx-background-color: #F4F4E0;
}
.login__btn:pressed{
    -fx-background-color: #E1E1C8;
}
.button2
{
-fx-background-color : #393351;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  20;
}

.button3
{
    -fx-background-color : #141124;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #524A7B ;
}
.button3:pressed
{
    -fx-background-color : #2F2B43 ;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}


/*.combo-box
{
    -fx-background-color : #141124;
    -fx-border-color:  #515658;
    -fx-border-radius: 30;
}
.combo-box:hover
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}
.combo-box:pressed
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}*/

.table-view{
   -fx-background-color: #7AB97A;
}

.table-view:focused{
    -fx-background-color: #7AB97A;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #347235;
     -fx-background-radius: 10;
    
}
.table-view .column-header-background .label{
    -fx-background-color: #347235;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #347235;
    
}

.table-view .table-cell{
    -fx-text-fill: black;
    
    
}
.table-cell .text{
    -fx-font-weight: 600;
    -fx-font-family: 'Montserrat SemiBold';
}
.table-row-cell{
    -fx-background-color:  #D2E7D2;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color:  white;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #7AB97A;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-row-cell:selected .text {
       -fx-fill: white ;

}
/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}

.date-picker .arrow-button {
	-fx-background-color: #347235;
	-fx-background-radius: 0;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: #347235;
}
/*.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}*/
.date-picker .selected {
	-fx-background-color: #347235;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: #347235;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: #347235;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: #347235;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}